body {
    color: green;
}

.logo{
    height: 32px;
}

.heading {
    border-bottom: 2px solid #a7d197;
}

thead th {
    font-weight: 400;
    color: #7fa86f;
}

tbody th {
    font-weight: 400;
    color: #f76f6f;
}

.animation {

}

.drop1, .drop2 {
  -webkit-animation: blink 1.5s ease-out 0s infinite;
  -moz-animation: blink 1.5s ease-out 0s infinite;
  -ms-animation: blink 1.5s ease-out 0s infinite;
  -o-animation: blink 1.5s ease-out 0s infinite;
}

.drop2 {
	animation-delay: .1s;
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}