<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: resources}"></th:block>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Home</title>
</head>
<body>
<div th:replace="~{fragments:: navbar('home', ${keyboard}, true)}"></div>
<div class="container py-3">
    <h2 class="mb-3 pb-3 heading">Home</h2>

    <div>
        <h5>Welcome! <i class=" fa-solid fa-leaf"></i></h5>
    </div>
    <div class="mt-3 text-center">
        <svg class="animation"
             height="198px" viewBox="0 0 162 198" width="162px" x="0px" xml:space="preserve"
             y="0px">

            <g id="XMLID_15_">
                <g id="XMLID_16_">
                    <rect fill="#FFC600" height="9" id="XMLID_448_" width="9" x="144" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_447_" width="9" x="135" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_446_" width="9" x="135" y="54"/>
                    <rect fill="#FFC600" height="9" id="XMLID_445_" width="9" x="135" y="63"/>
                    <rect fill="#FFC600" height="9" id="XMLID_444_" width="9" x="126" y="72"/>
                    <rect fill="#FFC600" height="9" id="XMLID_443_" width="9" x="126" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_442_" width="9" x="126" y="90"/>
                    <rect fill="#FFC600" height="9" id="XMLID_441_" width="9" x="117" y="99"/>
                    <rect fill="#FFC600" height="9" id="XMLID_440_" width="9" x="117" y="108"/>
                    <rect fill="#FFC600" height="9" id="XMLID_439_" width="9" x="117" y="117"/>
                    <rect fill="#FFC600" height="9" id="XMLID_438_" width="9" x="108" y="126"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_437_" width="9" x="108" y="135"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_436_" width="9" x="108" y="144"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_435_" width="9" x="99" y="153"/>
                    <rect fill="#FFC600" height="9" id="XMLID_434_" width="9" x="99" y="162"/>
                    <rect fill="#FFC600" height="9" id="XMLID_433_" width="9" x="99" y="171"/>
                    <rect fill="#FFC600" height="9" id="XMLID_432_" width="9" x="90" y="171"/>
                    <rect fill="#FFC600" height="9" id="XMLID_423_" width="9" x="90" y="162"/>
                    <rect fill="#FFC600" height="9" id="XMLID_422_" width="9" x="81" y="171"/>
                    <rect fill="#FFC600" height="9" id="XMLID_415_" width="9" x="81" y="162"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_412_" width="9" x="90" y="153"/>
                    <rect fill="#FFC600" height="9" id="XMLID_411_" width="9" x="81" y="153"/>
                    <rect fill="#D01100" height="9" id="XMLID_213_" width="9" x="99" y="144"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_212_" width="9" x="90" y="144"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_211_" width="9" x="81" y="144"/>
                    <rect fill="#FFC600" height="9" id="XMLID_210_" width="9" x="72" y="162"/>
                    <rect class="drop1" fill="#FBB03B" height="9" id="XMLID_209_" width="9" x="90" y="180"/>
                    <rect class="drop2" fill="#F7931E" height="9" id="XMLID_208_" width="9" x="90" y="189"/>
                    <rect fill="#FFC600" height="9" id="XMLID_207_" width="9" x="72" y="153"/>
                    <rect fill="#FFC600" height="9" id="XMLID_206_" width="9" x="72" y="144"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_205_" width="9" x="99" y="135"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_204_" width="9" x="90" y="135"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_203_" width="9" x="81" y="135"/>
                    <rect fill="#FFC600" height="9" id="XMLID_202_" width="9" x="72" y="135"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_201_" width="9" x="99" y="126"/>
                    <rect fill="#D01100" height="9" id="XMLID_200_" width="9" x="90" y="126"/>
                    <rect fill="#FFC600" height="9" id="XMLID_199_" width="9" x="81" y="126"/>
                    <rect fill="#FFC600" height="9" id="XMLID_198_" width="9" x="72" y="126"/>
                    <rect fill="#FFC600" height="9" id="XMLID_197_" width="9" x="63" y="144"/>
                    <rect class="drop1" fill="#F7931E" height="9" id="XMLID_196_" width="9" x="45" y="135"/>
                    <rect class="drop2" fill="#F7931E" height="9" id="XMLID_195_" width="9" x="45" y="144"/>
                    <rect fill="#FFC600" height="9" id="XMLID_194_" width="9" x="45" y="117"/>
                    <rect fill="#FBB03B" height="9" id="XMLID_193_" width="9" x="45" y="126"/>
                    <rect class="drop1" fill="#F7931E" height="9" id="XMLID_192_" width="9" x="27" y="90"/>
                    <rect class="drop2" fill="#F7931E" height="9" id="XMLID_191_" width="9" x="27" y="99"/>
                    <rect fill="#FBB03B" height="9" id="XMLID_190_" width="9" x="27" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_189_" width="9" x="63" y="135"/>
                    <rect fill="#FFC600" height="9" id="XMLID_188_" width="9" x="63" y="126"/>
                    <rect fill="#FFC600" height="9" id="XMLID_187_" width="9" x="108" y="117"/>
                    <rect fill="#FFC600" height="9" id="XMLID_186_" width="9" x="99" y="117"/>
                    <rect fill="#FFC600" height="9" id="XMLID_185_" width="9" x="90" y="117"/>
                    <rect fill="#FFC600" height="9" id="XMLID_184_" width="9" x="81" y="117"/>
                    <rect fill="#FFC600" height="9" id="XMLID_183_" width="9" x="72" y="117"/>
                    <rect fill="#FFC600" height="9" id="XMLID_182_" width="9" x="63" y="117"/>
                    <rect fill="#F7931E" height="9" id="XMLID_181_" width="9" x="108" y="108"/>
                    <rect fill="#FFC600" height="9" id="XMLID_180_" width="9" x="99" y="108"/>
                    <rect fill="#FFC600" height="9" id="XMLID_179_" width="9" x="90" y="108"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_178_" width="9" x="81" y="108"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_177_" width="9" x="72" y="108"/>
                    <rect fill="#FFC600" height="9" id="XMLID_176_" width="9" x="63" y="108"/>
                    <rect fill="#FFC600" height="9" id="XMLID_175_" width="9" x="54" y="126"/>
                    <rect fill="#FFC600" height="9" id="XMLID_174_" width="9" x="54" y="117"/>
                    <rect fill="#FFC600" height="9" id="XMLID_173_" width="9" x="54" y="108"/>
                    <rect fill="#FFC600" height="9" id="XMLID_172_" width="9" x="108" y="99"/>
                    <rect fill="#FFC600" height="9" id="XMLID_171_" width="9" x="99" y="99"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_170_" width="9" x="90" y="99"/>
                    <rect fill="#D01100" height="9" id="XMLID_169_" width="9" x="81" y="99"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_168_" width="9" x="72" y="99"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_167_" width="9" x="63" y="99"/>
                    <rect fill="#FFC600" height="9" id="XMLID_166_" width="9" x="54" y="99"/>
                    <rect fill="#FFC600" height="9" id="XMLID_165_" width="9" x="117" y="90"/>
                    <rect fill="#FFC600" height="9" id="XMLID_164_" width="9" x="108" y="90"/>
                    <rect fill="#FFC600" height="9" id="XMLID_163_" width="9" x="99" y="90"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_162_" width="9" x="90" y="90"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_161_" width="9" x="81" y="90"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_160_" width="9" x="72" y="90"/>
                    <rect fill="#D01100" height="9" id="XMLID_159_" width="9" x="63" y="90"/>
                    <rect fill="#FFC600" height="9" id="XMLID_158_" width="9" x="54" y="90"/>
                    <rect fill="#FFC600" height="9" id="XMLID_157_" width="9" x="45" y="108"/>
                    <rect fill="#FFC600" height="9" id="XMLID_156_" width="9" x="45" y="99"/>
                    <rect fill="#F7931E" height="9" id="XMLID_155_" width="9" x="45" y="90"/>
                    <rect fill="#FFC600" height="9" id="XMLID_154_" width="9" x="117" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_153_" width="9" x="108" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_152_" width="9" x="99" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_151_" width="9" x="90" y="81"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_150_" width="9" x="81" y="81"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_149_" width="9" x="72" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_148_" width="9" x="63" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_147_" width="9" x="54" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_146_" width="9" x="45" y="81"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_145_" width="9" x="117" y="72"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_144_" width="9" x="108" y="72"/>
                    <rect fill="#FFC600" height="9" id="XMLID_143_" width="9" x="99" y="72"/>
                    <rect fill="#FFC600" height="9" id="XMLID_142_" width="9" x="90" y="72"/>
                    <rect fill="#FFC600" height="9" id="XMLID_141_" width="9" x="81" y="72"/>
                    <rect fill="#FFC600" height="9" id="XMLID_140_" width="9" x="72" y="72"/>
                    <rect fill="#FFC600" height="9" id="XMLID_139_" width="9" x="63" y="72"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_138_" width="9" x="54" y="72"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_137_" width="9" x="45" y="72"/>
                    <rect fill="#FFC600" height="9" id="XMLID_136_" width="9" x="36" y="90"/>
                    <rect fill="#FFC600" height="9" id="XMLID_135_" width="9" x="36" y="81"/>
                    <rect fill="#FFC600" height="9" id="XMLID_134_" width="9" x="36" y="72"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_133_" width="9" x="126" y="63"/>
                    <rect fill="#D01100" height="9" id="XMLID_132_" width="9" x="117" y="63"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_131_" width="9" x="108" y="63"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_130_" width="9" x="99" y="63"/>
                    <rect fill="#FFC600" height="9" id="XMLID_129_" width="9" x="90" y="63"/>
                    <rect fill="#FFC600" height="9" id="XMLID_128_" width="9" x="81" y="63"/>
                    <rect fill="#FFC600" height="9" id="XMLID_127_" width="9" x="72" y="63"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_126_" width="9" x="63" y="63"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_125_" width="9" x="54" y="63"/>
                    <rect fill="#D01100" height="9" id="XMLID_124_" width="9" x="45" y="63"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_123_" width="9" x="36" y="63"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_122_" width="9" x="126" y="54"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_121_" width="9" x="117" y="54"/>
                    <rect fill="#D01100" height="9" id="XMLID_120_" width="9" x="108" y="54"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_119_" width="9" x="99" y="54"/>
                    <rect fill="#FFC600" height="9" id="XMLID_118_" width="9" x="90" y="54"/>
                    <rect fill="#FFC600" height="9" id="XMLID_117_" width="9" x="81" y="54"/>
                    <rect fill="#FFC600" height="9" id="XMLID_116_" width="9" x="72" y="54"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_115_" width="9" x="63" y="54"/>
                    <rect fill="#D01100" height="9" id="XMLID_114_" width="9" x="54" y="54"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_113_" width="9" x="45" y="54"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_112_" width="9" x="36" y="54"/>
                    <rect fill="#FFC600" height="9" id="XMLID_111_" width="9" x="27" y="72"/>
                    <rect fill="#FFC600" height="9" id="XMLID_110_" width="9" x="27" y="63"/>
                    <rect fill="#FFC600" height="9" id="XMLID_109_" width="9" x="27" y="54"/>
                    <rect fill="#FFC600" height="9" id="XMLID_108_" width="9" x="18" y="54"/>
                    <rect fill="#FFC600" height="9" id="XMLID_107_" width="9" x="126" y="45"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_106_" width="9" x="117" y="45"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_105_" width="9" x="108" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_104_" width="9" x="99" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_103_" width="9" x="90" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_102_" width="9" x="81" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_101_" width="9" x="72" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_100_" width="9" x="63" y="45"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_99_" width="9" x="54" y="45"/>
                    <rect fill="#FF3E00" height="9" id="XMLID_98_" width="9" x="45" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_97_" width="9" x="36" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_96_" width="9" x="27" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_95_" width="9" x="18" y="45"/>
                    <rect fill="#FFC600" height="9" id="XMLID_94_" width="9" x="135" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_93_" width="9" x="126" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_92_" width="9" x="117" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_91_" width="9" x="108" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_90_" width="9" x="99" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_89_" width="9" x="90" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_88_" width="9" x="81" y="36"/>
                    <rect fill="#F7931E" height="9" id="XMLID_87_" width="9" x="72" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_86_" width="9" x="63" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_85_" width="9" x="126" y="27"/>
                    <rect fill="#FFC600" height="9" id="XMLID_84_" width="9" x="117" y="27"/>
                    <rect fill="#FFC600" height="9" id="XMLID_83_" width="9" x="108" y="27"/>
                    <rect fill="#F7931E" height="9" id="XMLID_82_" width="9" x="99" y="27"/>
                    <rect fill="#FFC600" height="9" id="XMLID_81_" width="9" x="90" y="27"/>
                    <rect fill="#FFC600" height="9" id="XMLID_80_" width="9" x="81" y="27"/>
                    <rect fill="#FFC600" height="9" id="XMLID_79_" width="9" x="72" y="27"/>
                    <rect fill="#FFC600" height="9" id="XMLID_78_" width="9" x="63" y="27"/>
                    <rect fill="#FFC600" height="9" id="XMLID_77_" width="9" x="54" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_76_" width="9" x="45" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_75_" width="9" x="36" y="36"/>
                    <rect fill="#FFC600" height="9" id="XMLID_74_" width="9" x="27" y="36"/>
                    <rect fill="#754C24" height="9" id="XMLID_73_" width="9" x="144" y="18"/>
                    <rect fill="#8C6239" height="9" id="XMLID_72_" width="9" x="153" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_71_" width="9" x="135" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_70_" width="9" x="144" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_69_" width="9" x="135" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_68_" width="9" x="126" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_67_" width="9" x="117" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_63_" width="9" x="108" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_62_" width="9" x="99" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_60_" width="9" x="90" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_59_" width="9" x="81" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_58_" width="9" x="72" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_57_" width="9" x="63" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_56_" width="9" x="72" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_55_" width="9" x="63" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_54_" width="9" x="54" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_53_" width="9" x="45" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_52_" width="9" x="36" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_51_" width="9" x="27" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_50_" width="9" x="27" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_49_" width="9" x="18" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_48_" width="9" x="9" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_47_" width="9" x="54" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_46_" width="9" x="45" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_45_" width="9" x="36" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_44_" width="9" x="99" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_43_" width="9" x="90" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_42_" width="9" x="81" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_41_" width="9" x="126" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_40_" width="9" x="117" y="18"/>
                    <rect fill="#754C24" height="9" id="XMLID_39_" width="9" x="108" y="18"/>
                    <rect fill="#8C6239" height="9" id="XMLID_38_" width="9" x="144" y="9"/>
                    <rect fill="#8C6239" height="9" id="XMLID_37_" width="9" x="135" y="9"/>
                    <rect fill="#8C6239" height="9" id="XMLID_36_" width="9" x="126" y="0"/>
                    <rect fill="#8C6239" height="9" id="XMLID_35_" width="9" x="117" y="0"/>
                    <rect fill="#8C6239" height="9" id="XMLID_34_" width="9" x="108" y="0"/>
                    <rect fill="#8C6239" height="9" id="XMLID_33_" width="9" x="99" y="0"/>
                    <rect fill="#8C6239" height="9" id="XMLID_32_" width="9" x="90" y="0"/>
                    <rect fill="#8C6239" height="9" id="XMLID_31_" width="9" x="81" y="0"/>
                    <rect fill="#8C6239" height="9" id="XMLID_30_" width="9" x="72" y="0"/>
                    <rect fill="#8C6239" height="9" id="XMLID_29_" width="9" x="63" y="0"/>
                    <rect fill="#8C6239" height="9" id="XMLID_28_" width="9" x="54" y="9"/>
                    <rect fill="#8C6239" height="9" id="XMLID_27_" width="9" x="45" y="9"/>
                    <rect fill="#8C6239" height="9" id="XMLID_26_" width="9" x="36" y="9"/>
                    <rect fill="#8C6239" height="9" id="XMLID_25_" width="9" x="27" y="9"/>
                    <rect fill="#754C24" height="9" id="XMLID_24_" width="9" x="18" y="36"/>
                    <rect fill="#754C24" height="9" id="XMLID_23_" width="9" x="9" y="36"/>
                    <rect fill="#754C24" height="9" id="XMLID_22_" width="9" x="0" y="36"/>
                    <rect fill="#8C6239" height="9" id="XMLID_21_" width="9" x="18" y="18"/>
                    <rect fill="#8C6239" height="9" id="XMLID_20_" width="9" x="9" y="18"/>
                    <rect fill="#8C6239" height="9" id="XMLID_19_" width="9" x="0" y="27"/>
                    <rect fill="#754C24" height="9" id="XMLID_18_" width="9" x="9" y="45"/>
                    <rect fill="#754C24" height="9" id="XMLID_17_" width="9" x="0" y="45"/>
                </g>
            </g>
        </svg>
    </div>
</div>
</body>
</html>