<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: resources}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Pizzas</title>
</head>
<body>
<div th:replace="~{fragments:: navbar('pizzas')}"></div>
<div class="container py-3">
    <h2 class="mb-3">Pizzas</h2>
    <p th:if="${list.size() == 0}">There are no pizzas.</p>
    <table th:unless="${list.size() == 0}" class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${list}" th:object="${pizza}">
            <th th:text="*{name}" scope="row"></th>
            <td th:text="|*{price} €|"></td>
            <td th:text="*{description}"></td>
            <td><i class="fa-solid fa-eye"></i></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>