<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: resources}"></th:block>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Pizza Detail</title>
</head>
<body>
<div th:replace="~{fragments:: navbar('home', '', false)}"></div>
<div class="container py-3" th:object="${pizza}">
    <h2 class="mb-3 pb-3 heading" th:text="*{name}"></h2>
    <h5 th:text="|Price: *{price}€|"></h5>
    <th:block th:unless="${#strings.isEmpty(pizza.description)}">
        <p th:text="*{description}"></p>
    </th:block>
    <table th:if="*{offers.size} > 0" class="table table-borderless">
        <thead>
        <tr>
            <th class="fst-italic" scope="col">Offer name</th>
            <th class="fst-italic" scope="col">Start date</th>
            <th class="fst-italic" scope="col">End date</th>
            <th class="fst-italic" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : *{offers}" th:object="${offer}">
            <th scope="row" th:text="*{title}"></th>
            <td th:text="${#temporals.format(offer.startDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(offer.endDate, 'dd/MM/yyyy')}"></td>
            <td>
                <a class="text-warning ms-2" th:href="@{|/pizzas/offers/edit/*{id}|}" title="edit"><i
                        class="fa-solid fa-pen-to-square"></i></a>
                <a class="text-secondary ms-2" title="delete"><i
                        class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>

        </tbody>
    </table>
    <a class="btn btn-success" th:href="@{/pizzas/offers/create(pizzaId=${pizza.id})}">Add offer</a>
    <a class="btn btn-danger" th:href="@{/pizzas}">Back to list</a>
</div>
</body>
</html>