<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: resources}"></th:block>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>Pizza Detail</title>
</head>
<body>
<div th:replace="~{fragments:: navbar('home', '', false)}"></div>
<div class="container py-3" th:object="${pizza}">
    <h2 class="mb-3 pb-3 heading" th:text="*{name}"></h2>
    <h5 th:text="|Price: *{price}€|"></h5>
    <th:block th:unless="${#strings.isEmpty(pizza.description)}">
        <p th:text="*{description}"></p>
    </th:block>
    <a class="btn btn-danger" th:href="@{/pizzas}">Back to list</a>
</div>
</body>
</html>