<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: resources}"></th:block>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title>New Offer</title>
</head>
<body>
<div th:replace="~{fragments:: navbar('create', '', false)}"></div>
<div class="container py-3">
    <h2 class="mb-3 pb-3 heading">New Offer</h2>
    <form class="row g-3" id="offer-form" method="post" th:action="@{/pizzas/offers/create}" th:object="${offer}">
        <ul class="list-group col-12 py-3">
            <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.globalErrors() }"
                th:text="${err}"></li>
        </ul>
        <div class="col-md-4 mb-3">
            <input type="hidden" th:field="*{pizza}">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" id="title" th:errorClass="is-invalid" th:field="*{title}" type="text">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('title')}"
                        th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label" for="startDate">Start date</label>
            <input class="form-control" id="startDate" th:errorClass="is-invalid" th:field="*{startDate}"
                   type="date">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('startDate')}"
                        th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label class="form-label" for="endDate">End date</label>
            <input class="form-control" id="endDate" th:errorClass="is-invalid" th:field="*{endDate}"
                   type="date">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('endDate')}"
                        th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-warning" th:href="@{|/pizzas/${offer.pizza.id}|}">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>